html {
  background: #2a2b2d;
}

.container {
  display: grid;
  margin: 200px auto;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  background: #5a5c68;
  width: 500px;
  height: 600px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.result {
  background: #c1d797;
  border-radius: 20px;
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 100px;
  text-align: right;
  color: #2a2b2d;
}

.btn,
.btn-operation {
  border: none;
  font-size: 60px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}

.btn {
  background: #3d4049;
}

.btn-operation {
  background: #bcc1c7;
}

.btn:hover,
.btn-operation:hover {
  transition: color 0.5s;
  color: #c4f82a;
}

.btn:active,
.btn-operation:active {
  box-shadow: 13px 10px 15px -9px rgba(42, 43, 43, 0.6);
  transition: background-color 0.5s, color 0.5s;
  background-color: #c4f82a;
  color: #2a2b2d;
}
